// 基于断点的隐藏类
.hidden{
    // xs隐藏
    &-xs-only{
        @media only screen and (max-width: 767px){
            display: none;
        }
    }
    // sm隐藏
    &-sm-only{
        @media only screen and (min-width: 768px) and (max-width: 991px){
            display: none;
        }
    }
    // sm及以下隐藏
    &-sm-and-down{
        @media only screen and (max-width: 991px){
            display: none;
        }
    }
    //sm及以上隐藏
    &-sm-and-up{
        @media only screen and (min-width: 768px){
            display: none;
        }
    }
    //md隐藏
    &-md-only{
        @media only screen and (min-width: 992px) and (max-width: 1199px){
            display: none;
        }
    }
    //md及以下隐藏
    &-md-and-down{
        @media only screen and (max-width: 1199px){
            display: none;
        }
    }
    //md及以上隐藏
    &-md-and-up{
        @media only screen and (min-width: 992px){
            display: none;
        }
    }
    //lg隐藏
    &-lg-only{
        @media only screen and (min-width: 1200px) and (max-width: 1919px){
            display: none;
        }
    }
    //lg及以下隐藏
    &-lg-and-down{
        @media only screen and (max-width: 1919px){
            display: none;
        }
    }
    //lg及以上隐藏
    &-lg-and-up{
        @media only screen and (min-width: 1200px){
            display: none;
        }
    }
    //xl隐藏
    &-xl-only{
        @media only screen and (min-width: 1920px){
            display: none;
        }
    }
}